<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>se.smartpawn.keyboardlayout.swedishcoder</string>
	<key>CFBundleName</key>
	<string>SwedishCoder</string>
	<key>CFBundleVersion</key>
	<string></string>
	<key>KLInfo_Swedish - Coder</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>se.smartpawn.keyboardlayout.swedishcoder.swedish-coder</string>
		<key>TISIntendedLanguage</key>
		<string>sv</string>
	</dict>
</dict>
</plist>
